@use "../abstracts" as *;


footer {
    background-color: map-get($colors, "main");
}

footer .container{
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h5, p {
        color: map-get($colors, "base");
    }
}

footer .socials {
    display: flex;
    gap: 1.25rem;
    
    a {
        font-size: 1.25rem;
        color: map-get($colors, "base");

        &:hover {
            color: map-get($colors, "accent");
        }
    }
}