@use "../abstracts" as *;


footer {
    background-color: map-get($colors, "main");
}

footer .container{
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h5, p {
        color: map-get($colors, "base");
    }

    p {
        @include font("body", "s");
    }

    @include mq-tablet {
        $padding-y: 3.5rem;
        padding-top: $padding-y;
        padding-bottom: $padding-y;
        flex-direction: row;
        gap: 4rem;

        p {
            max-width: 17.5rem;
        }
    }
}

footer .socials {
    flex-grow: 1;
    display: flex;
    gap: 1.25rem;
    
    a {
        font-size: 1.25rem;
        color: map-get($colors, "base");

        &:hover {
            color: map-get($colors, "accent");
        }
    }

    @include mq-tablet {
        justify-content: flex-end;
    }
}